@model List<DBA.Model.Achievement>
<table class="table" >
    <thead>
        <tr>
            <th>序号</th>
            <th>学号</th>
          
            <th>教师</th>
              <th>课程</th>
          
            <th>成绩</th>



            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int i = 0;
            DBA.BLL.Course CBLL = new DBA.BLL.Course();
            DBA.BLL.Teacher TBLL = new DBA.BLL.Teacher();

            foreach (var item in Model)
            {
                i++;    
            <tr>
                <td>@i</td>
                <td>@item.UserID</td>
                @if (string.IsNullOrEmpty(item.TeacherID) || TBLL.GetModel(Convert.ToInt32(item.TeacherID)) == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@TBLL.GetModel(Convert.ToInt32(item.TeacherID)).TeacherName</td>   
                }

                @if (string.IsNullOrEmpty(item.CourseID) || CBLL.GetModel(Convert.ToInt32(item.CourseID)) == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@CBLL.GetModel(Convert.ToInt32(item.CourseID)).CourseName</td>
                }
              
                <td>@item.Score</td>

                <td>
                    @if (DBA.BLL.Users.GetNowUserType()=="管理员")
                    {
                            <a href="/Achievement/Create?ID=@item.ID"   >修改</a>
                    <a href="#" onclick="Del(@item.ID)"   >删除</a>
                    }
                

                </td>
            </tr>    
            }
        }
    </tbody>
</table>





